<%- include('header'); -%>

<div class="home publish-blog">
    
         <h1><%=finaltitle%></h1>
         <span></span>
         <h4><%=curday  %></h4>
         <p><%= finalblog  %></p>


    
 </div>


<%- include('footer'); -%>